:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --title-text-color: #757575;
  --accent-text-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
}

* {
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #ececec;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

footer {
  font-size: 14px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 15px 0 15px;
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  display: inline-block;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.link {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header-page {
  position: relative;
  width: 100%;
  top: 10px;
  left: 0;
  transition: 0.5s;
}

.header-logo {
  color: var(--primary-text-color);
}

.logo {
  color: var(--accent-text-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.auth-site .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-item:not(:last-child) {
  margin-right: 50px;
}

.auth-site.list {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  text-align: left;
}

.auth-site .auth-block-link:hover,
.auth-site .auth-block-link:focus {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-text-color);
}

.auth-block-link {
  color: var(--title-text-color);
}

.auth-block-link:focus .auth-icon,
.auth-block-link:hover .auth-icon {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px 0;
}

.nav-item:not(:last-child) {
  padding-bottom: 35px;
}

.site-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;
}

.site-nav .active {
  color: var(--accent-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}

.site-nav .link:hover,
.site-nav .link:focus {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-text-color);
}

.site-nav.list {
  margin: 0;
  margin-bottom: 302px;
}

.mobile-open-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-open-icon {
  width: 40px;
  height: 40px;
  fill: #000000;
}

.mobile-menu {
  z-index: 10;
  position: fixed;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  top: 0;
  left: 50%;
  background-color: #ffffff;
  padding: 48px 40px;
  transition: all 250ms linear;
  transform: translateX(-50%) translateY(-100%);
  box-sizing: border-box;
}

.is-open {
  transform: translateX(-50%) translateY(0%);
}

.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu-close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu-list {
  display: flex;
}

.social-burger {
  display: flex;
  margin: 0;
  position: fixed;
  bottom: 48px;
  left: 40px;
}

.social-list-burger {
  margin: 0;
  position: fixed;
  bottom: 20px;
}

.social-list-burger-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.social-list-burger-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.social-list-burger-item:not(:first-child) {
  padding-left: 10px;
}

.auth-site.list {
  position: fixed;
  bottom: 134px;
}

.auth-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-top: 30px;
}

.auth-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.auth-block {
  margin-top: 32px;
}

.auth-icon {
  display: none;
}

.section.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  color: var(--primary-white-color);
  background-image: url("../images/hero/studio-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  background: rgba(47, 48, 58, 0.4);
}

.hero-title {
  padding-top: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 380px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.auth-block {
  display: flex;
}

.button.primary {
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  margin-bottom: 200px;
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
}

.modal-svg {
  width: 11px;
  height: 11px;
}

.close {
  position: absolute;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background: var(--secondary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.sighup-term {
  display: flex;
  align-items: center;
}

.signup-form-term-desc {
  position: relative;
  padding-left: 8px;
  cursor: pointer;
}

.signup-form-term-desc::before {
  content: '';
  top: 0;
  left: -20px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
}

.signup-form-term:checked + .signup-form-term-desc::before {
  border-color: var(--accent-text-color);
  background: var(--accent-text-color) url(../images/Vector.svg) no-repeat center center;
}

.advantage {
  padding-top: 60px;
  margin: 0;
}

.advantage-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-text {
  display: block;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.advantage-list:not(:last-child) {
  margin-bottom: 30px;
}

.advantage-list:last-child {
  padding-bottom: 60px;
}

.icon-background {
  display: flex;
  justify-content: center;
  padding: 25px 0 25px 0;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.icon-background .svg-icon {
  width: 65px;
  height: 70px;
}

.section.works {
  display: none;
}

.section-team {
  background-color: var(--secondary-background-color);
  margin-top: 0px;
}

.section-team-title {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 60px;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-list {
  padding-bottom: 60px;
  margin-bottom: 0;
}

.team-item:not(:last-child) {
  margin-bottom: 30px;
}

.team-person {
  max-width: 100%;
}

.team-item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team > img {
  margin-bottom: 30px;
  display: block;
}

.section-team {
  background-color: var(--secondary-background-color);
}

.section-advantage-title {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 0.85;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list .list {
  margin-top: 16px;
  padding-bottom: 30px;
}

.social-list-link:focus, .social-list-link:hover {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-text-color);
}

.social-list-link:focus .social-list-icon,
.social-list-link:hover .social-list-icon {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-white-color);
}

.partner-list {
  display: block;
  column-count: 2;
  margin: 0;
  padding-bottom: 60px;
}

.partner-list .partner-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90px;
}

.partner-list-icon {
  fill: #afb1b8;
}

.partner-list-item {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.partner-list-item:hover .partner-list-icon,
.partner-list-item:focus .partner-list-icon {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-text-color);
}

.partner-list-item:hover, .partner-list-item:focus {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--accent-text-color);
}

.partner-list-item {
  max-width: 210px;
}

.partner-list-item:not(:nth-child(3n)) {
  margin-bottom: 10px;
}

.section-partner-title {
  margin-top: 0;
  padding-top: 60px;
}

.footer-list-link {
  display: block;
  text-align: center;
}

.footer-list-link .footer-list-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: var(--hero-background-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

.footer .logo {
  padding-top: 60px;
  margin-bottom: 20px;
  display: block;
}

.contact > p {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 9px;
}

.contacts > a {
  margin-bottom: 9px;
}

.contacts.footer {
  margin-bottom: 60px;
}

.footer-list.list {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0;
  margin-bottom: 60px;
}

.footer-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.footer-list-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.footer-list-link:focus,
.footer-list-link:hover {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-text-color);
}

.footer-list-link:focus .footer-list-icon,
.footer-list-link:hover .footer-list-icon {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-white-color);
}

.subscribe-form-input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.subscribe-list-title {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button.subscribe {
  max-width: 200px;
  max-height: 50px;
  width: 100%;
  height: 100vh;
  text-align: left;
  padding-left: 29px;
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button.subscribe .subscribe-icon {
  position: absolute;
  padding-left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.contacts > p {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 9px;
}

.contacts .link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.contacts .link:hover, .contacts.link:focus {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-text-color);
}

.subscribe-social {
  padding-bottom: 60px;
}

.modal {
  color: var(--title-text-color);
}

.signup-heading {
  color: var(--primary-text-color);
  margin: 0;
  margin-bottom: 10px;
}

.close {
  background: none;
}

.close:hover {
  fill: var(--accent-text-color);
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.signup-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.signup-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms linear;
  padding-left: 42px;
}

.signup-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: background-color 250ms linear;
}

.signup-form-input:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.signup-form-input:focus + .modal-icon {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.signup-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms linear;
}

.signup-textarea:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.signup-form-term-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.signup-form-term-desc::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  outline: 1px solid #000000;
  margin-right: 10px;
}

.signup-form-term {
  margin: 0;
  margin-right: 8px;
}

.signup-term {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.signup-field {
  text-align: left;
}

.terms-link {
  text-decoration: underline;
}

.signup-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.subscribe-icon {
  position: absolute;
  padding-left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=main.css.map */