.container {
  margin: 0 auto;
  max-width: 767px;
  padding: 0 15px 0 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 1999px;
    padding: 0 15px 0 15px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
    width: 1170px;
    text-align: center;
  }
}
